{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178906590-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-178906590-1');
    </script>
    <meta charset="UTF-8">
    <title>Explorin</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'css/base.css' %}"> -->

    <style type="text/css">
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>

<body>
    <div style="background-color:#FFF8F7;;">
        <nav class="navbar navbar-expand-lg navbar-light bg-white" style="margin-top:5px;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="">
                <img src="logo+text.png" width="150" />
            </a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="./about">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="./projects">PROJECTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="./contacts">CONTACTS</a>
                    </li>
                </ul>

            </div>
        </nav>

        <div class="container my-4">

            <div class="row mt-5">
                <h1>Contact</h1>
            </div>
            <p class="my-4">If you desire to contact me, you can reach me via:</p>

            <ul style="font-size: 20px;">
                <li>Email: <a href="admin@explorin.io">admin@explorin.io</a></li>
                <li>Instagram: <a href="explorin.io">explorin.io</a></li>
                <li>Facebook: <a href="https://www.facebook.com/explorin.io">https://www.facebook.com/explorin.io</a>
                </li>
                <li>Linkedin: <a
                        href="https://www.linkedin.com/company/explorin">https://www.linkedin.com/company/explorin</a>
                </li>
            </ul>
        </div>



        <hr style="margin-top:400px;">
    </div>
    <nav class="mb-1 navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent-3">
            <ul class="navbar-nav ml-auto nav-flex-icons" style="margin: auto;">
                <li class="nav-item">
                    <a href="https://www.linkedin.com/company/explorin" class="nav-link waves-effect waves-light">
                        <i class="fab fa-4x fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.facebook.com/explorin.io" class="nav-link waves-effect waves-light">
                        <i class="fab fa-4x fa-facebook"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="https://www.linkedin.com/company/explorin" class="nav-link waves-effect waves-light">
                        <i class="fab fa-4x fa-linkedin"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="admin@explorin.io" class="nav-link waves-effect waves-light">
                        <i class="fab fa-4x fa-google-plus-g"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>


</body>

</html>