{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Explorin</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'css/base.css' %}"> -->

    <style type="text/css">
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>

<body style="background: #FFF8F7;">

    <nav class="navbar navbar-expand-lg navbar-light bg-white" style="margin-top:5px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/portfolio/">
            <img src="{% static 'img/logo+text.png' %}" width="150" />
        </a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link mx-3" href="/portfolio/about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3" href="/portfolio/projects">PROJECTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3" href="/portfolio/contacts">CONTACTS</a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container my-4">
        <div class="row mt-5">
            <h1>Projects</h1>
        </div>
    </div>

    <div class="container my-4 " style="background: #FFFFFF; border-radius: 4px; padding:10px;">

        <hr class="mt-5">
        <div class="row">
            <div class="col-md-10">
                <a href="./flexbox/htmlcodeD3.html">
                    <b style="font-size: 24px;">Flexbox</b>
                </a>
            </div>
            <div class="col-md-2" style="font-size: 24px;">
                DAY 3 task
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-2 my-auto" style="font-size: 22px;">
                Description:
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commod consequat. riatur.
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 my-auto" style="font-size: 22px;">
                Technologies used:
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commod consequat. riatur.
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 my-auto" style="font-size: 22px;">
                Time taken:
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commod consequat. riatur.
            </div>
        </div>

        <hr class="mt-5">
        <div class="row">
            <div class="col-md-10">
                <a href="./basic_splitwise/Advance Task.html">
                    <b style="font-size: 24px;">Basic Splitwise</b>
                </a>
            </div>
            <div class="col-md-2" style="font-size: 24px;">
                DAY 4 task
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-2 my-auto" style="font-size: 22px;">
                Description:
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commod consequat. riatur.
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 my-auto" style="font-size: 22px;">
                Technologies used:
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commod consequat. riatur.
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 my-auto" style="font-size: 22px;">
                Time taken:
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commod consequat. riatur.
            </div>
        </div>

        <hr class="mt-5">
        <div class="row">
            <div class="col-md-10">
                <a href="./my_first_website/week_1 (1).html">
                    <b style="font-size: 24px;">My First Website | Thanks to Explorin</b>
                </a>
            </div>
            <div class="col-md-2" style="font-size: 24px;">
                week 1 task
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-2 my-auto" style="font-size: 22px;">
                Description:
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commod consequat. riatur.
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 my-auto" style="font-size: 22px;">
                Technologies used:
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commod consequat. riatur.
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 my-auto" style="font-size: 22px;">
                Time taken:
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commod consequat. riatur.
            </div>
        </div>

        <hr class="mt-5">
        <div class="row">
            <div class="col-md-10">
                <a href="./sql/sql.html">
                    <b style="font-size: 24px;">SQL</b>
                </a>
            </div>
            <div class="col-md-2" style="font-size: 24px;">
                DAY 9 task
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-2 my-auto" style="font-size: 22px;">
                Description:
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commod consequat. riatur.
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 my-auto" style="font-size: 22px;">
                Technologies used:
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commod consequat. riatur.
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 my-auto" style="font-size: 22px;">
                Time taken:
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commod consequat. riatur.
            </div>
        </div>

        <hr class="mt-5">
        <div class="row">
            <div class="col-md-10">
                <a href="./flexbox_advance/css_task.html">
                    <b style="font-size: 24px;">Flexbox Advance</b>
                </a>
            </div>
            <div class="col-md-2" style="font-size: 24px;">
                DAY 11 task
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-2 my-auto" style="font-size: 22px;">
                Description:
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commod consequat. riatur.
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 my-auto" style="font-size: 22px;">
                Technologies used:
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commod consequat. riatur.
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 my-auto" style="font-size: 22px;">
                Time taken:
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commod consequat. riatur.
            </div>
        </div>

        <hr class="mt-5">
        <div class="row">
            <div class="col-md-10">
                <a href="./youtube_api/youtube.html">
                    <b style="font-size: 24px;">Youtube API</b>
                </a>
            </div>
            <div class="col-md-2" style="font-size: 24px;">
                DAY 11 task
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-2 my-auto" style="font-size: 22px;">
                Description:
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commod consequat. riatur.
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 my-auto" style="font-size: 22px;">
                Technologies used:
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commod consequat. riatur.
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 my-auto" style="font-size: 22px;">
                Time taken:
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commod consequat. riatur.
            </div>
        </div>

        <hr class="mt-5">
        <div class="row">
            <div class="col-md-10">
                <a href="./first_login_page/login_page.html">
                    <b style="font-size: 24px;">My First Login Page</b>
                </a>
            </div>
            <div class="col-md-2" style="font-size: 24px;">
                DAY 12 task
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-2 my-auto" style="font-size: 22px;">
                Description:
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commod consequat. riatur.
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 my-auto" style="font-size: 22px;">
                Technologies used:
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commod consequat. riatur.
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 my-auto" style="font-size: 22px;">
                Time taken:
            </div>
            <div class="col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commod consequat. riatur.
            </div>
        </div>
    </div>






</body>

</html>